.field-new-step {
    width: 100%;
    margin-top: 30px;
}

.section-steps-list .section-step {
    height: auto;
    border-radius: 5px;
    border: 1px solid #bbb;
    cursor: grab;
}

:host /deep/ .mat-list-item-content {
    padding: 0 0 0 16px !important;
}

section-step-item {
    width: 100%;
}

.cdk-drag-preview {
    padding: 0 0 0 16px;
    box-sizing: border-box;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.section-steps-list.cdk-drop-list-dragging .section-step:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.step-constraint {
    color: red;
}
