<mat-card>
	<mat-card-header>
		<mat-card-title class="section-steps-title">{{ sectionName }}</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<mat-list cdkDropList (cdkDropListDropped)="dropStep($event)" class="section-steps-list">
			<mat-list-item cdkDrag class="section-step" *ngFor="let step of steps">
				<section-step-item
					(delete)="delStep($event)"
					(update)="updateStep($event)"
					name="{{ step.name }}"
				></section-step-item>
			</mat-list-item>
		</mat-list>
		<mat-form-field class="field-new-step">
			<input
				#inputText
				(focus)="switchMode()"
				(focusout)="switchMode()"
				type="text"
				placeholder="your step"
				class="input-new-step"
				matInput
				maxlength="100"
				(keydown.enter)="addStep($event)"
			/>
			<button
				*ngIf="hasFocus"
				matSuffix
				mat-flat-button
				color="valide"
				class="btn-add-step"
				(click)="switchMode()"
			>
				<mat-icon>add</mat-icon>
			</button>
			<mat-icon *ngIf="!hasFocus" matSuffix>mode_edit</mat-icon>
		</mat-form-field>
	</mat-card-content>
</mat-card>
