<h2 class="mat-headline">Features</h2>
<button
  mat-flat-button
  color="primary"
  class="btn-add-feature"
  (click)="addNewFeature()"
>
  <mat-icon>add</mat-icon>New Feature
</button>
<table
  id="feature-table"
  mat-table
  [dataSource]="features"
  class="mat-elevation-z8"
>
  <ng-container matColumnDef="name">
    <th id="feature-col-name" mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element" (click)="goToBoard(element._id)">
      {{ element.name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="options">
    <th id="feature-col-opts" mat-header-cell *matHeaderCellDef>Options</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon>delete</mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
