<mat-form-field appearance="fill" class="side-project-selector">
  <mat-label>Project</mat-label>
  <mat-select [(value)]="selectedProject._id" disabled>
    <mat-option *ngFor="let project of projects" value="{{ project._id }}">{{
      project.name
    }}</mat-option>
  </mat-select>
</mat-form-field>

<mat-nav-list>
  <a class="mat-title sidenav-menu" routerLink="/feature">Features</a>
  <ng-container *ngFor="let feature of features">
    <a
      class="sidenav-menu-item"
      mat-list-item
      (click)="navigateToBoard(feature._id)"
      >{{ feature.name }}</a
    >
  </ng-container>
</mat-nav-list>
