<div class="edit-text-content">
	<span class="editable-text text-placeholder" *ngIf="!isEditMode && !text" (click)="switchEditMode()">{{
		placeholder
	}}</span>
	<span class="editable-text" *ngIf="!isEditMode && text" (click)="switchEditMode()">{{ text }}</span>
	<span *ngIf="isEditMode" class="text-edit-mode">
		<mat-form-field class="field-edit-text">
			<input autofocus matInput [(ngModel)]="text" value="{{ text }}" type="text" class="input-edit-text" />
		</mat-form-field>
	</span>
	<button mat-icon-button *ngIf="isEditMode" class="btn-save-text" (click)="switchEditMode()">
		<mat-icon>save</mat-icon>
	</button>
</div>
