.edit-text-content {
	display: flex;
	.editable-text {
		flex: 1;
	}
	.field-edit-text, .text-edit-mode {
		width: 100%;
	}
}

:host ::ng-deep .mat-form-field-infix {
	padding-top: 0;
	border: 0;
}

.text-placeholder {
	color: #aaa;
	font-style: italic;
}
