<div class="scenario-header">
	<label>Scenario: </label>
	<div class="scenario-header-msg">
		<edit-text class="scenario-name"></edit-text>
	</div>
	<div class="scenario-header-opts">
		<button mat-icon-button class="btn-del-scenario" (click)="delScenario()">
			<mat-icon>delete</mat-icon>
		</button>
	</div>
</div>
<div class="sections-steps">
	<section-steps
		class="section-steps-given section-steps"
		sectionName="Given"
		codeBlockId="{{ codeBlockId }}"
	></section-steps>
	<section-steps
		class="section-steps-when section-steps"
		sectionName="When"
		codeBlockId="{{ codeBlockId }}"
	></section-steps>
	<section-steps
		class="section-steps-then section-steps"
		sectionName="Then"
		codeBlockId="{{ codeBlockId }}"
	></section-steps>
</div>
