<div class="scenario-header">
	<div class="scenario-header-msg">
		<label>Scenario: </label>
		<span
			class="scenario-name scenario-name-placeholder"
			*ngIf="!isNameInEditMode && !name"
			(click)="switchEditNameMode()"
			>your scenario's name here</span
		>
		<span class="scenario-name" *ngIf="!isNameInEditMode && name" (click)="switchEditNameMode()">{{ name }}</span>
		<span *ngIf="isNameInEditMode">
			<mat-form-field class="field-edit-scenario-name">
				<input autofocus matInput [(ngModel)]="name" value="{{ name }}" type="text" class="input-edit-scenario-name" />
			</mat-form-field>
		</span>
	</div>
	<div class="scenario-header-opts" *ngIf="isNameInEditMode">
		<button mat-icon-button class="btn-save-scenario-name" (click)="switchEditNameMode()">
			<mat-icon>save</mat-icon>
		</button>
	</div>
</div>
<div class="sections-steps">
	<section-steps
		class="section-steps-given section-steps"
		sectionName="Given"
		codeBlockId="{{ codeBlockId }}"
	></section-steps>
	<section-steps
		class="section-steps-when section-steps"
		sectionName="When"
		codeBlockId="{{ codeBlockId }}"
	></section-steps>
	<section-steps
		class="section-steps-then section-steps"
		sectionName="Then"
		codeBlockId="{{ codeBlockId }}"
	></section-steps>
</div>
