.sections-steps {
	display: flex;
}

.section-steps {
	flex: 1 0px;
}

.scenario-header {
	font-size: 1.5em;
	height: 70px;
	display: flex;
}

.section-steps:not(:last-child) {
	margin-right: 20px;
}

.scenario-header label {
	font-weight: bold;
	margin-right: 10px;
}

.scenario-header .scenario-header-msg {
	flex: 1 1 auto;
}

:host ::ng-deep .mat-form-field-infix {
	padding-top: 0;
	border: 0;
}

.field-edit-scenario-name {
	width: 100%;
}

.scenario-name-placeholder {
	color: #aaa;
	font-style: italic;
}
